.login{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-container{
  width: 40%;
  height: 60%;
  text-align: center;
}

.login-header{
  margin-top: 15px;
}

.login-main{
  display: flex;
  margin-top: 25px;
  text-align: center;
  justify-content: center;
}

.login-main form{
  width: 50%;
}

.login-main button{
  margin-top: 25px;
}

.login-buttons{
  display: flex;
  justify-content: space-around;
}
