.register{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.register-container{
  width: 40%;
  height: 80%;
  text-align: center;
}

.register-header{
  margin-top: 15px;
}

.register-main{
  display: flex;
  margin-top: 15px;
  text-align: center;
  justify-content: center;
}

.register-main form{
  width: 50%;
}

.register-main button{
  margin-top: 15px;
}

.register-buttons{
  display: flex;
  justify-content: space-around;
}
